@import "tailwindcss";

@plugin 'tailwindcss-animate';

@theme {
    /* Colors */
    --color-brand: #b9ff66;
    --color-brand-hover: #a8e95e;
    --color-dark: #191a23;
    --color-dark-faded: #292a32;
    --color-light: #f3f3f3;
    --color-light-hover: #e8e8e8;
    --color-light-2: #898989;

    /* Font size */
    --text-h1: 2.6875em;
    --text-h1--line-height: 1.2;
    --text-h1--font-weight: 700;

    /* H2 Typography Variables */
    --text-h2: 2.25em;
    --text-h2--line-height: 1.3;
    --text-h2--font-weight: 700;

    /* H3 Typography Variables */
    --text-h3: 1.625em;
    --text-h3--line-height: 1.4;
    --text-h3--font-weight: 500;

    /* H4 Typography Variables */
    --text-h4: 1.125em;
    --text-h4--line-height: 1.5;
    --text-h4--font-weight: 500;

    /* H5 Typography Variables */
    --text-h5: 1em;
    --text-h5--line-height: 1.5;
    --text-h5--font-weight: 500;
}

@media (min-width: 768px) {
    @theme {
        --text-h1: 3.75em;
        --text-h2: 2.5em;
        --text-h3: 1.875em;
        --text-h4: 1.25em;
        --text-h5: 1.125em;
    }
}

@layer utilities {
    body {
        font-family: var(--font-space-grotesk), sans-serif;
        color: var(--color-dark);
    }
}

@layer components {
    .wrap {
        width: 100%;
        padding: 1.5rem 1.75rem 0 1.75rem;
        overflow: hidden;
    }

    @media (min-width: 768px) {
        .wrap {
            padding: 1.5rem 2.5rem 0 2.5rem;
        }
    }

    @media (min-width: 1024px) {
        .wrap {
            padding: 4rem 6rem 0 6rem;
        }
    }
}
